<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.common"
    android:versionCode="36"
    android:versionName="16"
    coreApp="true">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="36" />

    <overlay
        android:targetPackage="android"
        android:priority="100"
        android:isStatic="true" />
    
    <application
        android:label="FrameworksResCommon_Sys"
        android:extractNativeLibs="true" />
</manifest>
