<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miui.systemui.overlay.devices.android"
    android:versionCode="36"
    android:versionName="16"
    coreApp="true">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="36" />

    <overlay
        android:targetPackage="android"
        android:priority="1000"
        android:isStatic="true" />

    <application
        android:label="DevicesAndroidOverlay"
        android:hasCode="false"
        android:extractNativeLibs="false" />
</manifest>
